@import '~@angular/material/theming';

@mixin navtabs-component-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .navtabs-container {
        background-color: mat-color($accent);

        a {
            color: mat-color($warn);
        }
        
    }
}